@model List<User>
@{
    ViewData["Title"] = "Following";
}

<h1 class="text-center">Following</h1>
@if (Model.Count <= 0)
{
    <div class="text-center">
        You aren't following anyone
    </div>
}
@if (Model.Count > 0)
{
    <div class="container">
        <div class="row">
            @foreach (User u in Model)
            {
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header"><h3>@u.UserName</h3></div>
                        <div class="card-body border-bottom">
                            Following: @u.Following.Count
                            Followers: @u.Followers.Count<br />
                            <a asp-action="ProfilePage" asp-route-title="@u.UserName">Profile</a>
                        </div>
                        <div>
                            <a asp-action="Unfollow" asp-route-title="@u.UserName">Unfollow</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

