@model GameSphere.Models.User
@{
    ViewData["Title"] = "HomePage";
}

<h1 class="text-center">Homepage</h1>

<div>
    <div class="container-fluid col-sm-4 float-left">
       <div class="text-lg-center border-left border-right border-top border-bottom"> Username: <a asp-action="ProfilePage" asp-route-title="@Model.UserName">@Model.UserName</a><br /></div>
        <div class="border-left border-right border-top border-bottom" align="center">
            <a class="text-sm-center" asp-action="Privacy" asp-route-title="@Model.UserName"> Privacy Settings?</a>
        </div>
        <div class="border-left border-right border-top border-bottom">
            <table class="text-center table-bordered" align="center" width="100%">
                <tr>                
                    <th>Posts</th>
                    <th>Following</th>
                    <th>Followers</th>
                </tr>               
                <tr class="">
                    <td><a asp-action="PostList" asp-route-title="@Model.UserName">@ViewBag.postCount</a></td>
                    <td><a asp-action="FollowingList" asp-route-title="@Model.UserName">@ViewBag.followingCount</a></td>
                    <td><a asp-action="FollowersList" asp-route-title="@Model.UserName">@ViewBag.followerCount</a></td>
                </tr>
            </table>                  
        </div>
        <br />
        <div class="text-center border-bottom border-left border-right">
            <form method="post">
                <div class="form-group">
                    <label for="postMessage" class="form-control-sm">Make a Post!</label>
                    <input class="form-control-sm" name="postMessage" />
                </div>
                <button type="submit" value="Post!">Post!</button>
            </form>
        </div>
    </div>

    <div class="container-fluid text-center col-lg-8 float-right border-left border-right border-top border-bottom">
        <div class="border-bottom">
            <h1>Your Posts</h1>
            @if (Model.Posts.Count > 0)
            {
                @foreach (var p in Model.Posts)
                {
                    <a asp-action="ProfilePage" asp-route-title="p.Posts[0].User.UserName"> @p.User.UserName</a><text>: </text> @p.Message

                    <br />
                }
            }
            else
            {
                <div>
                    You haven't posted anything yet
                </div>
            }
        </div>
        <div>
            <h1>Followers Posts</h1>
            @if (Model.Following.Count > 0)
            {
                @foreach (User u in Model.Following)
                {
                    @if (u.Posts.Count > 0)
                    {
                        <a asp-action="ProfilePage" asp-route-title="@u.Posts[0].User.UserName"> @u.Posts[0].User.UserName</a><text>: </text> @u.Posts[0].Message

                        <br />
                    }
                    else
                    {
                        <div>
                            Your followers haven't posted anything yet
                        </div>
                    }
                }
            }

            @if (Model.Following.Count <= 0)
            {
                <div>
                    You are not following anyone yet
                </div>
            }
        </div>
    </div>
    
</div>