@model List<Post>
@{
    ViewData["Title"] = "HomePage";
}

<h1 class="text-center">Homepage</h1>

<div>
    <div class="container-fluid col-sm-4 float-left">
       <div class="text-lg-center border-left border-right border-top border-bottom"> Username: <a asp-action="ProfilePage" asp-route-title="@ViewBag.userName">@ViewBag.userName</a><br /></div>
        <div class="border-left border-right border-top border-bottom" align="center">
            <a class="text-sm-center" asp-action="Privacy" asp-route-title="@ViewBag.userName"> Privacy Settings?</a>
        </div>
        <div class="border-left border-right border-top border-bottom">
            <table class="text-center table-bordered" align="center" width="100%">
                <tr>                
                    <th>Posts</th>
                </tr>               
                <tr class="">
                    <td><a asp-action="PostList" asp-route-title="@ViewBag.userName">@ViewBag.postCount</a></td>
                </tr>
            </table>                  
        </div>
        <br />
        <div class="text-center border-bottom border-left border-right">
            <form method="post">
                <div class="form-group">
                    <label for="postUser" class="form-control-sm">Username:</label>
                    <input for="postUser" name="postUser" class="form-control-sm" value="@ViewBag.userName" readonly />
                    <label for="postMessage" class="form-control-sm">Make a Post!</label>
                    <input class="form-control-sm" name="postMessage" />
                </div>
                <button type="submit" value="Post!">Post!</button>
            </form>
        </div>
    </div>

    <div class="container-fluid text-center col-lg-8 float-right border-left border-right border-top border-bottom">
        <div class="border-bottom">
            <h1>Your Posts</h1>
            @if (ViewBag.postCount > 0)
            {
                @foreach (var p in Model.Where(x => x.User.UserName == ViewBag.userName))
                {
                    <a asp-action="ProfilePage" asp-route-title="@p.User.UserName"> @p.User.UserName</a><text>: </text> @p.Message

                    <br />
                }
            }
            else
            {
                <div>
                    You haven't posted anything yet
                </div>
            }
        </div>
        <div>
            <h1>Community Posts</h1>
            @if (Model.Count > 0)
            {
                @foreach (Post u in Model)
                {
                        <a asp-action="ProfilePage" asp-route-title="@u.User.UserName"> @u.User.UserName</a><text>: </text> @u.Message

                        <br />                    
                }
            }

            @if (Model.Count <= 0)
            {
                <div>
                    The Community hasn't posted anything yet
                </div>
            }
        </div>
    </div>
    
</div>