@model List<User>
@{
    ViewData["Title"] = "UserList";
}

<h1>User on Gamesphere</h1>


<div class="container">
    <div class="row">
        @foreach (User u in Model)
        {
           
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">Username: @u.UserName</div>
                    <div class="card-body">
                            Following: @u.Following.Count
                            Followers: @u.Followers.Count<br />
                            <a asp-action="ProfilePage" asp-route-title="@u.UserName">Profile</a>                            
                    </div>
                    <div>
                        <a asp-action="Follow" asp-route-title="@u.UserName">Follow</a>
                    </div>
                </div>
            </div>          
        }
    </div>
</div>
